*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }
  
  body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(19, 18, 18);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .grid-container{
    width: 88vw;
    height: 100vh;
    background-color: rgba(11, 17, 60, 0.612);
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    padding: 150px;
  
 
  }
  .grid-container-1{
   background-color: rgb(24, 20, 44);
   grid-column: span 1;
   height: 360px;
   border-radius: 5px;
   padding: 40px;
   
 
  }
  .grid-container-2{
    background-color: rgb(56, 4, 60);
    grid-column: span 1;
    border-radius: 10px;
    height: 360px;
   

  }
  .image{
   width: 450px;
   height: 360px;
   border-radius: 5px;
  object-fit: cover;
  opacity: 0.3;
  }

  .heading{
    color: rgb(255, 240, 251);
    font-family:  sans-serif;
    }
    .subheading{
      color: white;
      font-family: sans-serif;
    }
    .middle{
      color: rgb(107, 100, 164);
      margin-top: 5px;
    }
    .word {
      color:rgb(33, 16, 49) ;
    }
    .grid-container-6{
      width: 50px;
      height: 50px;
      background-color: aqua;
      display: grid;
      grid-template-columns: repeat(4,2fr);
      gap: 30px;
      margin-top: 50px;
      
    }
    .grid-container-3{
      height: 100px;
      width: 100px;
      background-color: rgb(24, 20, 44);
      grid-column: span 1;
    }
    .grid-container-4{
      height: 100px;
      width: 100px;
      background-color: rgb(24, 20, 44);
      grid-column: span 1;
      
    }
    .grid-container-5{
      height: 100px;
      width: 100px;
      grid-column: span 2;
   
    }
    .ten{
      color: white;
      font-family:  sans-serif;
    }
    .companies{
      color:  rgb(107, 100, 164);
      font-family: sans-serif;
      font-size: 12px;
    }
    .three{
      color: white;
      font-family: sans-serif;
    }
    .templates{
      color:  rgb(107, 100, 164);
      font-size: 12px;
      font-family: sans-serif;
    }
    .twelve{
      color: white;
      font-family: sans-serif;
    }
    .queries{
      color:rgb(107, 100, 164) ;
      font-size: 12px;
      font-family: sans-serif;
    }
    @media only screen and (max-width: 600px) {
       
      .grid-container{
        width: 70vw;
        height: 200vh;
        background-color: rgba(11, 17, 60, 0.612);
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
      }
      .grid-container-1{
        background-color: rgb(24, 20, 44);
        grid-column: span 1;
        height: 200px;
        border-radius: 5px;
        padding: 40px;
        
      
       }
       .grid-container-2{
         background-color: rgb(56, 4, 60);
         grid-column: span 1;
         border-radius: 10px;
         height: 20 0px;
        
     
       }
      .image{
        width: 100px;
        height: 150px;
        border-radius: 5px;
       object-fit: cover;
       opacity: 0.4;
         }
         .heading{
          color: rgb(255, 240, 251);
          font-family:  sans-serif;
        }
        .middle{
          color: rgb(107, 100, 164);
          margin-top: 5px;
        }
        .grid-container-6{
          width: 30px;
          height: 30px;
          background-color: aqua;
          display: grid;
          grid-template-columns: repeat(2,1fr);
          grid-template-rows: repeat(2,1fr);
         
          
        }
    }